@using MaksimShimshon.GameManagePanel.Features.Mods.Domain.ValueObjects
@using MaksimShimshon.GameManagePanel.Features.Mods.Web.Components.ViewModels
@inherits WidgetComponentBase<PluginEntry, IModListExplorerViewModel>

<MudGrid>
    @if (ViewModel.IsLoading)
    {
        <MudItem>
            <p>loading...</p>
        </MudItem>
    }
    else
    {
        <MudItem>
            <MudButton OnClick=CreateAsync>Create</MudButton>
            @if (ViewModel.ModListState.Available.Count() > 0)
            {
                <MudNavMenu>
                    @foreach (var modlist in ViewModel.ModListState.Available)
                    {
                        <MudNavLink OnClick=@(() => OpenModList(modlist.Id))>
                            @modlist.Name
                        </MudNavLink>

                    }
                </MudNavMenu>
            }
            else
            {
                <p>No Modlist Currently Exist.</p>
                
            }
        </MudItem>
    }
</MudGrid>