@using MaksimShimshon.GameManagePanel.Features.Mods.Domain.Entities
@using MaksimShimshon.GameManagePanel.Features.Mods.Web.Components.ViewModels
@inherits WidgetComponentBase<PluginEntry, IModListEditorViewModel>
<MudGrid>
    <MudItem>
        <MudText>Test</MudText>
    </MudItem>
    @if (ViewModel.IsLoading)
    {
        <MudItem>
            <p>Loading...</p>
        </MudItem>
    }
    else if (ViewModel.ModListState.SchematicParts.Count <= 0)
    {
        <MudItem>
            <MudAlert Severity=Severity.Error>
                @ERROR_SCHEMATIC_PARTS
            </MudAlert>
        </MudItem>
    }
    else if (ViewModel.Information != default)
    {
        @foreach (var schematicPart in ViewModel.ModListState.SchematicParts)
        {
            <MudItem xs=12 xl=6>

                <MudDropContainer T="ModEntity" Items=@ViewModel.Information[schematicPart.Id]
                                  ItemsSelector="@((item, dropzone) => true)"
                                  ItemDropped=ItemUpdated
                                  Class="d-flex flex-wrap flex-grow-1">

                    <ChildContent>
                        <h1>Test</h1><br/>
                        <MudButton OnClick=@(() => AddInto(schematicPart.Id))>Create</MudButton>

                        <MudDropZone T="ModEntity" Identifier=@schematicPart.Id.Id
                                     AllowReorder
                                     Class="rounded mud-background-gray pa-6 ma-8 flex-grow-1">
                            <MudText Typo="Typo.h6" Class="mb-4">@schematicPart.Name.Name</MudText>
                        </MudDropZone>
                    </ChildContent>
                    <ItemRenderer>
                        <MudPaper Elevation="25" Class="d-flex justify-center align-center pa-4 my-4">
                            <MudGrid>
                                <MudItem xs=2 Class="d-flex align-center">
                                    <DeleteButtonIcon TEntity=ModEntity Item=context
                                                      OnClick=@((p, ct) => DeleteEntity(schematicPart.Id, p, ct)) />
                                </MudItem>
                                <MudItem xs=10 Class="d-flex align-center">
                                    @ViewModel.GetModName(context)
                                </MudItem>
                            </MudGrid>
  
                        </MudPaper>

                    </ItemRenderer>
                </MudDropContainer>
            </MudItem>
        }
        
    }
</MudGrid>
